body {
    background-color: #e6e5dd;
    padding: 20px;
    margin: 0;
  }
  h1, h2, p, ul, li {
    font-family: 'dm serif display';
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #474242;
    padding: 0;
  }
  ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-color: #e6e5dd;
    padding: 20px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: #a49155;
  }
  .btn {
    color:rgb(255, 255, 255);
    background-color: #a49155;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }
  